SimpleRest.module/Schemas/NewXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.example.org/NewXMLSchema" 
xmlns:tns="http://www.example.org/NewXMLSchema" 
elementFormDefault="qualified">


    


    <complexType name="NewComplexType">
    	<sequence>
    		<element name="Name" type="string"></element>
    		<element name="Number" type="int"></element>
    	</sequence>
    </complexType>

    <element name="NewElement" type="tns:NewComplexType"></element>
</schema>